.titulo{
    font-family: monospace;
    text-align: center;
    font-size: 100;
}
.buttonsContainer{
    display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsContainer button{
    background-color: aquamarine;
    border: none;
    width: 40%;
    margin:10;
    height: 100;
    font-size: 60;
    color: azure;
    border-radius: 30px;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    

}
button:hover {
    background-color: #38DBF6; /* Green */
    color: white;
  }
 footer{
     margin-top: 50;
     font-family: monospace;
     font-weight: 900;
     font-size: 30;
 }